body {
  font-size: 1rem;
  line-height: 1.5;
  font-family: $ff-primary;
  color: $body-text;
}

@mixin body-large() {
  font-size: rem(24);
  line-height: (42/34);
  font-weight: $fw-light;

  @include media($medium-screen-up) {
    font-size: rem(34);
  }
}

@mixin body() {
  font-size: rem(18);
  line-height: (30/22);
  font-weight: $fw-light;

  @include media($medium-screen-up) {
    font-size: rem(22);
  }
}