@mixin body() {
  font-family: $ff-primary;
  font-size: rem(18);
  line-height: (30/22);
  font-weight: $fw-light;
  background-color: $yellow;

  @include media($medium-screen-up) {
    font-size: rem(22);
  }
}

@mixin body-large() {
  font-family: $ff-primary;
  font-size: rem(24);
  line-height: (42/34);
  font-weight: $fw-light;

  @include media($medium-screen-up) {
    font-size: rem(34);
  }
}

body {
  @include body;
  color: $body-text;
}

p + p {
  margin-top: 1em;
}

.stack {
  > * + * {
    margin-top: 1em;
  }
}