{#
  Nunjucks Templating!
  Homepage: https://mozilla.github.io/nunjucks/
  Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% extends 'layouts/application.html' %}

{% block content %}
{% include 'layouts/header.html' %}
{% include 'layouts/intro.html' %}
{% include 'layouts/video.html' %}
{% include 'layouts/get-involved.html' %}
{% include 'layouts/get-support.html' %}
{% include 'layouts/about.html' %}
{% include 'layouts/contact.html' %}
{% include 'layouts/quotes.html' %}
{% endblock %}