// Typography
$ff-primary: 'Source Sans Pro', sans-serif;
$ff-secondary: 'a_love_of_thunderregular', sans-serif;

$fw-light: 300;
$fw-regular: 400;

// Colors
$black: #1E1E1E;
$white: #FFF;

$yellow: #F2BF28;
$yellow-light: #F6EDD0;

$body-text: $black;

// Layout
$sp-xl: rem(105);
$sp-m: rem(65);
$sp-s: rem(25);