<section id="about" class="contact row row--dark">
  <div class="container">
    <div class="contact__grid">
      <div class="contact__col stack">
        <h2 class="contact__subtitle">About</h2>
        <p class="contact__text">Kids of Colour was founded in 2018 and became a community interest company in 2019. We
          work to inform society on the diverse experiences belonging to young people of colour and
          challenge the racialised, dehumanising narratives that uphold negative stereotypes. We create
          spaces for young people of colour to come together and explore race, identity and culture and
          support them to challenge the racism they face.</p>
        <p class="contact__text">We also create opportunities for the public to learn from young people, encouraging
          young
          and adult allies to reflect on the individual and systemic changes needed in society that they must
          be a part of implementing. Keep an eye on our social media for upcoming events and
          workshops.</p>
      </div>
    </div>
  </div>
</section>