<section id="get-support" class="about">
  <div class="row row--yellow">
    <div class="container">
      <h2 class="text-large">Get Support</h2>

      <div class="about__grid">
        <div class="about__col stack">
          <h3 class="about__title">Report</h3>
          <p class="about__text">We work to actively challenge racism. Below is a reporting form for young people (or
            adults on
            their behalf) to log incidents of overt, micro-aggressive or institutional racism. We focus
            particularly on the areas of education and policing (working closely with <a
              href="http://npmp.co.uk/">NPMP</a>) and want to
            support individuals where possible, directly or through signposting.</p><a
            href="https://kidsofcolour.typeform.com/to/mEhujd" class="contact__btn btn btn--black">Report an
            incident</a>
          <p class="about__text">We also run drop ins on Tuesdays from 4.30pm-6.30pm in Manchester Central Library café.
            Keep an eye on social media for updates on times.</p>
        </div>

        <div class="about__col stack">
          <h3 class="about__title">Training</h3>
          <p class="about__text">We offer training sessions for those working with young people. These aim to develop
            people’s
            understanding of race and racism so they can better support young people of colour through
            society, challenge the racism that exists within institutions and create inclusive spaces within
            their practice.</p>
          <p class="about__text">From 2020, we will run one off training sessions for individuals to sign up to and can
            run
            sessions for your organisation or staff team. We are particularly interested in working with
            educational institutions.</p>
        </div>
      </div>

    </div>
  </div>
</section>