<section id="get-involved" class="about">
  <div class="row row--dark">
    <div class="container">
      <h2 class="text-large">Get Involved</h2>

      <div class="about__grid">
        <div class="about__col stack">
          <h3 class="about__title">Young people</h3>
          <p class="about__text">
            If you are a young person of colour (aged 24 and under) and want to
            get involved, we would love to hear from you. Whether you want to
            film a video, speak at an event, develop the project or be part of
            the Kids of Colour network,
            <a href="#contact" class="about__link js-scroll-to">contact us</a>.
          </p>
        </div>

        <div class="about__col stack">
          <h3 class="about__title">Summer School: Postponed to Easter 2021</h3>
          <p class="about__text">
            In Easter 2021 we will be delivering our first summer school for
            young people of colour aged 12-17 from Greater Manchester. If you or
            someone you know would like a place,
            <a href="#contact" class="about__link js-scroll-to">contact us</a>.
            We will be following up with workshops for young white allies.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
