<header class="header">
  <div class="container">
    <nav class="nav">
      <ul class="menu">
        <li class="menu__item"><a href="#get-involved" class="menu__link js-scroll-to">Get Involved</a></li>
        <li class="menu__item"><a href="#get-support" class="menu__link js-scroll-to">Get support</a>
        </li>
        <li class="menu__item"><a href="#about" class="menu__link js-scroll-to">About</a></li>
          <li class="menu__item"><a href="#contact" class="menu__link js-scroll-to">Contact</a></li>
          <li class="menu__item"><a href="https://www.justgiving.com/crowdfunding/kidsofcolour" target="_blank"
              class="menu__link js-scroll-to">Donate</a></li>
      </ul>

      <div class="nav__wrapper">
        

        <div class="social">
          <a href="{{ social.youtube }}" class="social__link social__link--youtube"><span
              class="social__text">Youtube</span></a>
          <a href="{{ social.twitter }}" class="social__link social__link--twitter"><span
              class="social__text">Twitter</span></a>
          <a href="{{ social.instagram }}" class="social__link social__link--instagram"><span
              class="social__text">Instagram</span></a>
          <a href="{{ social.instagram }}" class="social__link social__link--facebook"><span
              class="social__text">Facebook</span></a>
        </div>
      </div>
    </nav>
  </div>
</header>