<header class="header">
  <div class="container">
    <nav class="nav">
      <ul class="menu">
        <li class="menu__item"><a href="#watch" class="menu__link">Watch</a></li>
        <li class="menu__item"><a href="#about" class="menu__link">About</a></li>
        <li class="menu__item"><a href="#get-in-touch" class="menu__link">Get in touch</a></li>
        <li class="menu__item">
          <div class="social">
            <a href="{{ social.youtube }}" class="social__link">Youtube</a>
            <a href="{{ social.twitter }}" class="social__link">Twitter</a>
            <a href="{{ social.instagram }}" class="social__link">Instagram</a>
          </div>
        </li>
      </ul>
    </nav>
  </div>
</header>