<header class="header">
  <div class="container">
    <nav class="nav">
      <ul class="menu">
        <li class="menu__item"><a href="#watch" class="menu__link js-scroll-to">Watch</a></li>
        <li class="menu__item"><a href="#about" class="menu__link js-scroll-to">About</a></li>
        <li class="menu__item"><a href="#get-involved" class="menu__link js-scroll-to">Get involved</a></li>
        <li class="menu__item"><a href="https://www.justgiving.com/crowdfunding/kidsofcolour" target="_blank" class="menu__link js-scroll-to">Donate</a></li>
      </ul>

      <div class="social">
        <a href="{{ social.youtube }}" class="social__link social__link--youtube"><span class="social__text">Youtube</span></a>
        <a href="{{ social.twitter }}" class="social__link social__link--twitter"><span class="social__text">Twitter</span></a>
        <a href="{{ social.instagram }}" class="social__link social__link--instagram"><span class="social__text">Instagram</span></a>
      </div>
    </nav>
  </div>
</header>