<div class="video-container">
  <div class="container">
    <div id="watch" class="intro__section">
      <div class="video-grid">
        <a
          class="video"
          href="https://www.youtube.com/watch?v=-IkQrMQJROI"
          target="_blank"
        >
          <div
            class="video__main"
            style="background-image: url(./images/vid1b.jpg);"
          >
            <div class="video__play">Play</div>
          </div>
        </a>
        <a
          class="video"
          href="https://www.youtube.com/watch?v=LcmKKH6nIoc"
          target="_blank"
        >
          <div
            class="video__main"
            style="background-image: url(./images/vid2a.jpg);"
          >
            <div class="video__play">Play</div>
          </div>
        </a>
        <a
          class="video"
          href="https://www.youtube.com/watch?v=DdtBCdaKnRY"
          target="_blank"
        >
          <div
            class="video__main"
            style="background-image: url(./images/vid3a.jpg);"
          >
            <div class="video__play">Play</div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
