<div class="video-container">
  <div class="container">
    <div id="watch" class="intro__section">
      <div class="video-grid">
        <div class="video">
          <div class="video__main js-video">
            <a href="#" class="video__play js-video-btn" data-lity>Play</a>
          </div>
        </div>
        <div class="video">
          <div class="video__main js-video">
            <a href="#" class="video__play js-video-btn" data-lity>Play</a>
          </div>
        </div>
        <div class="video">
          <div class="video__main js-video">
            <a href="#" class="video__play js-video-btn" data-lity>Play</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>