.owl-dots {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: $sp-s;
}

.owl-dot {
  opacity: 0.3;
  transition: opacity 0.2s ease;

  &.active,
  &:hover,
  &:active,
  &:focus {
    outline: none;
    opacity: 1;
  }

  + #{&} {
    margin-left: rem(20);
  }

  span {
    display: block;
    width: rem(14);
    height: rem(14);
    border-radius: 50%;
    background-color: $yellow;
  }
}