.intro {
  padding-top: $sp-s;
  padding-bottom: $sp-s;

  @include media($medium-screen-up) {
    padding-top: $sp-m;
    padding-bottom: $sp-m;
  }
}

.intro__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  @include media($medium-screen-up) {
    flex-direction: row;
    width: 83.3333%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
  }
}

.intro__section {
  text-align: center;
}

.intro__logo {
  margin-bottom: $sp-s;

  @include media($medium-screen-up) {
    flex: 1;
    margin-right: $sp-s * 1.5;
    margin-bottom: 0;
  }
}

.intro__text {
  max-width: 24em;
  margin-left: auto;
  margin-right: auto;
  @include body-large;
}

.intro__main {
  @include media($medium-screen-up) {
    width: 66.6666%;
    max-width: 460px;
  }
}

.intro__btn {
  margin-top: $sp-s / 1.2;

  @include media($medium-screen-up) {
    margin-top: $sp-s;
  }

  @include media($large-screen-up) {
    margin-top: $sp-s + rem(15);
  }
}