.row {
  padding-top: $sp-s;
  padding-bottom: $sp-s;

  @include media($medium-screen-up) {
    padding-top: $sp-m;
    padding-bottom: $sp-m;
  }

  @include media($large-screen-up) {
    padding-top: $sp-xl;
    padding-bottom: $sp-xl;
  }

  &--dark {
    color: $white;
    background-color: $black;
  }

  &--light {
    background-color: $yellow-light;
  }
}